
@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Montserrat|Quicksand|Raleway&display=swap');

body {
    background-color: #F0F0F0;
    font-family:'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

p, li {
    font-size: 14px;
}

ol, ul {
    margin-left: 15px;
}

img:hover {
    opacity: .7;
}

.icons{
    height: 35px;
    width: 35px;
  }

a:link {color: #D27C95;}
a:visited {color: #8D6D9E;}
a:hover {color: #605C5C;}
a:active {color: #605C5C}
  
  .all_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    min-height: 100vh;
  }
  
    .main_info {
    /* top right bottom left*/
    padding: 5px 50px 10px 25px;
    margin: 10px;
    width: 75vw;
    /* overflow-y: auto; */
  }
  
  .main_info p {
    font-size: 18px;
  }

  #nav_bar {
    background-color: #F4ACB7;
    padding: 10px;
    flex-grow: 1;
    width: 300px;
    text-align: center;
    display: flex;
    flex: initial;
    flex-direction: column;
    justify-content: center;
  }

  /* tried to make this so that the nav bar scrolls when you scroll done but not important
   #nav_bar_content {
      position: position;
  }
   */
  #nav_bar h1 {
    font-size: 30px;
    margin: 0px 0px 10px 0px;
  }
  
  #nav_bar p {
    margin: 0px 0px 20px 0px;
  }

  .site_links a:link, .site_links a:visited {
    background-color: #8D6D9E;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .site_links a:hover {
    background-color: #D27C95;
  }
  

  .icons:hover{
    animation: bounce 1s;
 }
 
 .social_media {
   padding-top: 20px;
 }
  
  #img_wrap {
     width: 50%;
     margin: auto;
  }
  
  #nav_bar #fumi_photo {
    height: 175px;
    width: 175px;
    border-radius: 50%;
  }
  
  
  @keyframes bounce {
   0%, 20%, 60%, 100% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
   }
   40% {
     -webkit-transform: translateY(-20px);
     transform: translateY(-20px);
   }
   80% {
     -webkit-transform: translateY(-10px);
     transform: translateY(-10px);
   }
  }
  